target/
bin/
.settings/
.classpath
.project
*.iml
*.log
**/.m2/*
**/*.zip
tags
.idea
**/*.iml
bundles/**/META-INF/
bundles/**/git.properties
git.properties
**/git.properties
**/*.jar
**/*.esa
**/*.class
**/*.log
**/*.out
**/*.trace
**/*.rar
**/*.gz
**/*.tar
**/*.zip
**/*.exe
**/*.dmg
**/*.pdf
**/*.bak
**/*.html
**/*.css
**/test-output/
**/test-output/**
**/*.html
**/*.m2
**/*.json
!bundles/**/src/main/resources/META-INF/
.DS_Store
*~